.Rproj.user
.Rhistory
.RData
.Ruserdata
R code.R
R kode 2.R
RFR med VA.xlsx
Rplot.png
Rplot01.png
buchardt_f.xlsx
calibration.R
mean_diff.png
p_approx_mean.png
papprox_sti1.png
r2.R
speciale.Rproj
ssh_stig12.png
undiff_reserves.png
vbar_mean.png
vbar_sti1.png
